footer.footer
  .footer__about
    a(href="/") 
      img.footer__logo(src="/img/webh.png", alt="Logo", srcset="")
    p.p__footer Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nisi veritatis modi, facere quos repudiandae distinctio debitis minus adipisci dolor hic eum autem tempora doloremque ratione totam, incidunt omnis error!
  ul.footer__nav.footer__about 
    .heading__ul Services
    li.footer_item
      a.footer_link(href="home") HOME
    li.footer_item
      a.footer_link(href="about") ABOUT
    li.footer_item
      a.footer_link(href="services") OUR SERVICES
    li.footer_item
      a.footer_link(href="contact") CONTACT
  ul.footer__nav.footer__about
    .heading__ul Contact Info
    li.footer_item
      i.fa-solid.fa-location-dot
      a.footer_link(href="home") Address
    li.footer_item
      i.fa-solid.fa-phone
      a.footer_link(href="about") Phone
    li.footer_item
      i.fa-solid.fa-envelope
      a.footer_link(href="services") OUR SERVICES
    li.footer_item
      i.fa.fa-globe
      a.footer_link(href="contact") CONTACT
.copy-right__footer 
  p.copy-right &copy; 2024 Web Hustler - All Rights Reserved 
  .social-media
    i.fa-brands.fa-linkedin
    i.fa-brands.fa-facebook
    i.fa-brands.fa-twitter
    i.fa-brands.fa-instagram