extends base

block content

    .home
      img.img-fluid.home__img(src="/img/web15.jpg", alt="", style ="max-width:100%;height:auto;")
      h5.home__text DRIVING DIGITAL SOLUTION FOR BUSINESSES

    section.section-about.section
      .u-center-text.u-margin-bottom-big
        h2.heading-secondary WELCOME TO WEB HUSTLER
      .row-row 
        .col-1-of-2 
          h3.heading-tertiary.u-margin-bottom-small  We Design , Built and Develop
          p.paragraph Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius dolor incidunt sunt. Ullam quas consequatur, incidunt velit similique minus assumenda! Omnis soluta dolore eaque illum dicta impedit. Nobis, facilis veritatis!

          h3.heading-tertiary.u-margin-bottom-small Heading 
          p.paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sed maiores ipsa odit sit eos repudiandae nisi neque. Laborum maiores id, sed placeat vitae molestias reiciendis beatae molestiae cupiditate ab.

        .col-1-of-2 
          .composition 
            img.composition__photo--p1.composition__photo(src="/img/web15.jpg", alt="photo1", srcset="/img/web15.jpg 300w, /img/web15.jpg 1000w" ,sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px")
            img.composition__photo--p2.composition__photo(src="/img/web15.jpg", alt="photo1", srcset="/img/web15.jpg 300w, /img/web15.jpg 1000w" ,sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px")
            img.composition__photo--p3.composition__photo(src="/img/web15.jpg", alt="photo3", srcset="/img/web15.jpg 300w, /img/web15.jpg 1000w" ,sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px")

    section.section-features.section 
      .row-row 
        .col-1-of-4
          .feature-box
            i.feature-box__icon.icon-basic-webpage-img-txt
            h3.heading-tertiary.u-margin-bottom-small Web Design 
            p.feature-box__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus assumenda qui, velit animi blanditiis suscipit ipsum provident fuga explicabo facilis, natus laborum dolores, nulla commodi. Temporibus, veritatis ipsam. Temporibus.

        .col-1-of-4 
          .feature-box 
            //- i.feature-box__icon.icon-basic-webpage-txt
            i.feature-box__icon.icon-basic-webpage-multiple
            h3.heading-tertiary.u-margin-bottom-small Web Development 
            p.feature-box__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus assumenda qui, velit animi blanditiis suscipit ipsum provident fuga explicabo facilis, natus laborum dolores, nulla commodi. Temporibus, veritatis ipsam. Temporibus.

        .col-1-of-4 
          .feature-box 
            i.feature-box__icon.icon-basic-cloud
            h3.heading-tertiary.u-margin-bottom-small Cloud Solutions 
            p.feature-box__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus assumenda qui, velit animi blanditiis suscipit ipsum provident fuga explicabo facilis, natus laborum dolores, nulla commodi. Temporibus, veritatis ipsam. Temporibus.

        .col-1-of-4 
          .feature-box 
            i.feature-box__icon.icon-basic-display
            h3.heading-tertiary.u-margin-bottom-small Marketing 
            p.feature-box__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus assumenda qui, velit animi blanditiis suscipit ipsum provident fuga explicabo facilis, natus laborum dolores, nulla commodi. Temporibus, veritatis ipsam. Temporibus.

        //- .col-1-of-4 
        //-   .feature-box 
        //-     i.feature-box__icon.icon-basic-heart
        //-     h3.heading-tertiary.u-margin-bottom-small Explore 
        //-     p.feature-box__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus assumenda qui, velit animi blanditiis suscipit ipsum provident fuga explicabo facilis, natus laborum dolores, nulla commodi. Temporibus, veritatis ipsam. Temporibus.
            
        //- .col-1-of-4 
        //-   .feature-box 
        //-     i.feature-box__icon.icon-basic-heart
        //-     h3.heading-tertiary.u-margin-bottom-small Explore 
        //-     p.feature-box__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus assumenda qui, velit animi blanditiis suscipit ipsum provident fuga explicabo facilis, natus laborum dolores, nulla commodi. Temporibus, veritatis ipsam. Temporibus.
        
        //- .col-1-of-4 
        //-   .feature-box 
        //-     i.feature-box__icon.icon-basic-heart
        //-     h3.heading-tertiary.u-margin-bottom-small Explore 
        //-     p.feature-box__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus assumenda qui, velit animi blanditiis suscipit ipsum provident fuga explicabo facilis, natus laborum dolores, nulla commodi. Temporibus, veritatis ipsam. Temporibus.
            
        //- .col-1-of-4 
        //-   .feature-box 
        //-     i.feature-box__icon.icon-basic-heart
        //-     h3.heading-tertiary.u-margin-bottom-small Explore 
        //-     p.feature-box__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus assumenda qui, velit animi blanditiis suscipit ipsum provident fuga explicabo facilis, natus laborum dolores, nulla commodi. Temporibus, veritatis ipsam. Temporibus.
            


    section.section-stories.section
      .bg-video 
        video.bg-video__content(autoplay muted loop)
          source(src="", type="") 
          source(src="", type="")

      .u-center-text.u-margin-bottom-big
        h2.heading-secondary We make people genuinly happy 
        
      .row-row 
        .story 
          figure.story__shape 
            img.story__img(src="/img/web15.jpg", alt="story img")
            figcaption.story__caption Aman 
          .story__text 
            h3.heading-tertiary.u-margin-bottom-small I had the best week ever with my family
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nemo, minima at quia vero aut fugit dolor nulla atque, voluptates excepturi adipisci iusto ad dolores, repellendus repellat perferendis qui maiores.

      .row-row 
        .story 
          figure.story__shape 
            img.story__img(src="/img/web15.jpg", alt="story img")
            figcaption.story__caption Aman 
          .story__text 
            h3.heading-tertiary.u-margin-bottom-small I had the best week ever with my family
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur nemo, minima at quia vero aut fugit dolor nulla atque, voluptates excepturi adipisci iusto ad dolores, repellendus repellat perferendis qui maiores.

    section.section-book.section
      .row-row 
        .book 
          .book__form 
            form.form-signUp.form--login.contact-us
              .u-margin-bottom-medium
                h2.heading-secondary We are listening
              .form__group
                label.form__label.name(for='name') Name
                input#name.form__input(type='text', placeholder='Name', required)
              .form__group
                label.form__label(for='email') Email
                input#email.form__input(type='email', placeholder='you@example.com', required)
              .form__group
                label.form__label.name(for='phone') Phone Number
                input#phone.form__input(type='tel', pattern="[0-9]{10}", placeholder="1234567890", required)
              .form__group
                label.form__label.name(for='message') Message
                input#message.form__input(type='text', placeholder='Content', required)
              .form__group
                button.btn.btn--green.but Submit

    //- footer.footer
    //-   .footer__about
    //-     img.footer__logo(src="/img/webh.png", alt="Logo", srcset="")
    //-     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nisi veritatis modi, facere quos repudiandae distinctio debitis minus adipisci dolor hic eum autem tempora doloremque ratione totam, incidunt omnis error!
    //-   ul.footer__nav.footer__about 
    //-     .heading__ul Services
    //-     li.footer_item
    //-       a.footer_link(href="home") HOME
    //-     li.footer_item
    //-       a.footer_link(href="about") ABOUT
    //-     li.footer_item
    //-       a.footer_link(href="services") OUR SERVICES
    //-     li.footer_item
    //-       a.footer_link(href="contact") CONTACT
    //-   ul.footer__nav.footer__about
    //-     .heading__ul Contact Info
    //-     li.footer_item
    //-       i.fa-solid.fa-location-dot
    //-       a.footer_link(href="home") Address
    //-     li.footer_item
    //-       i.fa-solid.fa-phone
    //-       a.footer_link(href="about") Phone
    //-     li.footer_item
    //-       i.fa-solid.fa-envelope
    //-       a.footer_link(href="services") OUR SERVICES
    //-     li.footer_item
    //-       i.fa.fa-globe
    //-       a.footer_link(href="contact") CONTACT
    //- .copy-right__footer 
    //-   p.copy-right &copy; 2024 Web Hustler - All Rights Reserved 
    //-   .social-media
    //-     i.fa-brands.fa-linkedin
    //-     i.fa-brands.fa-facebook
    //-     i.fa-brands.fa-twitter
    //-     i.fa-brands.fa-instagram
