extends base

block content

    .home
      img.img-fluid.home__img(src="/img/web15.jpg", alt="", style ="max-width:100%;height:auto;")
      h5.home__text DRIVING DIGITAL SOLUTION FOR BUSINESSES

    section.section-about.section
      .u-center-text.u-margin-bottom-big
        h2.heading-secondary WELCOME TO WEB HUSTLER
      .row-row 
        .col-1-of-2 
          h3.heading-tertiary.u-margin-bottom-small  We Design , Built and Develop
          p.paragraph Our creative prowess merges with technical expertise to craft visually stunning websites that seamlessly marry form and function. From intuitive user interfaces to robust backend solutions, our commitment is to elevate your online presence, creating a digital masterpiece that leaves a lasting impression.

          h3.heading-tertiary.u-margin-bottom-small Our Mission 
          p.paragraph At the heart of our mission lies a commitment to excellence and innovation. We aspire to empower individuals and businesses, fostering growth through cutting-edge solutions. With a relentless pursuit of quality, integrity, and client satisfaction.

        .col-1-of-2 
          .composition 
            img.composition__photo--p1.composition__photo(src="/img/web1.jpg", alt="photo1", srcset="/img/web1.jpg 300w, /img/web1.jpg 1000w" ,sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px")
            img.composition__photo--p2.composition__photo(src="/img/web2.jpg", alt="photo1", srcset="/img/web2.jpg 300w, /img/web2.jpg 1000w" ,sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px")
            img.composition__photo--p3.composition__photo(src="/img/web4.jpg", alt="photo3", srcset="/img/web4.jpg 300w, /img/web4.jpg 1000w" ,sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px")

    section.section-features.section 
      .row-row 
        .col-1-of-4
          .feature-box
            i.feature-box__icon.icon-basic-webpage-img-txt
            h3.heading-tertiary.u-margin-bottom-small Digital Branding 
            p.feature-box__text It's the art of creating a lasting impression in the digital realm, where authenticity in a crowded online landscape.Our branding services are:
            ul
              li
                a.services_url(href="/service/web-development") Web Development
              li 
                a.services_url(href="/service/app-development") App Development
              li
                a.services_url(href="/service/crm-solution") CRM Solution
              li
                a.services_url(href="/service/e-commerce") E-commerce
            //- a.services_url(href="/service/slug") Web Design


        .col-1-of-4 
          .feature-box 
            i.feature-box__icon.icon-basic-cloud
            h3.heading-tertiary.u-margin-bottom-small Cloud Solutions 
            p.feature-box__text The global scalability, cloud solutions propel businesses into the future, ensuring seamless connectivity and efficiency with our services such as:
            ul
              li 
                a.services_url(href="/service/domain") Domain
              li
                a.services_url(href="/service/hosting") Hosting
              li 
                a.services_url(href="/service/crm") CRM
              li
                a.services_url(href="/service/email-solution") Email Solution
            //- a.services_url(href="/service/slug") Web Design

        .col-1-of-4 
          .feature-box 
            i.feature-box__icon.icon-basic-display
            h3.heading-tertiary.u-margin-bottom-small Marketing 
            p.feature-box__text A dynamic online presence, leveraging channels like social media, SEO, and content to connect brands with their target audience with services such as:
            ul
              li 
                a.services_url(href="/service/seo") SEO
              li 
                a.services_url(href="/service/smo") SMO
              li
                a.services_url(href="/service/content-marketing") Content Marketing
              li
                a.services_url(href="/service/pay-per-click") Pay Per Click
            //- a.services_url(href="/service/slug") Web Design

        .col-1-of-4 
          .feature-box 
            //- i.feature-box__icon.icon-basic-webpage-txt
            i.feature-box__icon.icon-basic-webpage-multiple
            h3.heading-tertiary.u-margin-bottom-small Graphic Design 
            p.feature-box__text Graphic design transforms ideas into visual masterpieces, seamlessly blending creativity, functionality impactful impression with our:
            ul
              li 
                a.services_url(href="/service/web-design") Web Design
              li
                a.services_url(href="/service/logo-design") Logo Design
              li
                a.services_url(href="/service/packaging-design") Packaging Design
              li
                a.services_url(href="/service/digital-design") Digital Design
            //- a.services_url(href="/service/slug") Web Design

        //- .col-1-of-4 
        //-   .feature-box 
        //-     i.feature-box__icon.icon-basic-heart
        //-     h3.heading-tertiary.u-margin-bottom-small Explore 
        //-     p.feature-box__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus assumenda qui, velit animi blanditiis suscipit ipsum provident fuga explicabo facilis, natus laborum dolores, nulla commodi. Temporibus, veritatis ipsam. Temporibus.
            
        //- .col-1-of-4 
        //-   .feature-box 
        //-     i.feature-box__icon.icon-basic-heart
        //-     h3.heading-tertiary.u-margin-bottom-small Explore 
        //-     p.feature-box__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus assumenda qui, velit animi blanditiis suscipit ipsum provident fuga explicabo facilis, natus laborum dolores, nulla commodi. Temporibus, veritatis ipsam. Temporibus.
        
        //- .col-1-of-4 
        //-   .feature-box 
        //-     i.feature-box__icon.icon-basic-heart
        //-     h3.heading-tertiary.u-margin-bottom-small Explore 
        //-     p.feature-box__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus assumenda qui, velit animi blanditiis suscipit ipsum provident fuga explicabo facilis, natus laborum dolores, nulla commodi. Temporibus, veritatis ipsam. Temporibus.
            
        //- .col-1-of-4 
        //-   .feature-box 
        //-     i.feature-box__icon.icon-basic-heart
        //-     h3.heading-tertiary.u-margin-bottom-small Explore 
        //-     p.feature-box__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusamus assumenda qui, velit animi blanditiis suscipit ipsum provident fuga explicabo facilis, natus laborum dolores, nulla commodi. Temporibus, veritatis ipsam. Temporibus.
            


    section.section-stories.section
      .bg-video 
        video.bg-video__content(autoplay muted loop)
          source(src="", type="") 
          source(src="", type="")

      .u-center-text.u-margin-bottom-big
        h2.heading-secondary We make people genuinly happy 
        
      .row-row.row__story
        .story 
          figure.story__shape 
            img.story__img(src="/img/testimonial2.jpg", alt="story img")
            figcaption.story__caption Ankur
          .story__text 
            h3.heading-tertiary.u-margin-bottom-small Nurturing Success Through Innovation and Collaboration
            p Your trust fuels our commitment to excellence, and we're dedicated to continually exceeding your expectations. Here's to the continued growth of our partnerships and your ongoing success.

      .row-row.row__story
        .story 
          figure.story__shape 
            img.story__img(src="/img/testimonial1.jpg", alt="story img")
            figcaption.story__caption Abhay
          .story__text 
            h3.heading-tertiary.u-margin-bottom-small A Journey of Vision, Dedication, and Success
            p The team's unwavering dedication and innovative spirit have been instrumental in bringing our vision to life. I am confident that our continued commitment to excellence will shape a future of unparalleled success.

    section.section-book.section
      .row-row 
        .book 
          .book__form 
            form.form-signUp.form--login.contact-us
              .u-margin-bottom-medium
                h2.heading-secondary We are listening
              .form__group
                label.form__label.name(for='name') Name
                input#name.form__input(type='text', placeholder='Name', required)
              .form__group
                label.form__label(for='email') Email
                input#email.form__input(type='email', placeholder='you@example.com', required)
              .form__group
                label.form__label.name(for='phone') Phone Number
                input#phone.form__input(type='tel', pattern="[0-9]{10}", placeholder="1234567890", required)
              .form__group
                label.form__label.name(for='message') Message
                input#message.form__input(type='text', placeholder='Content', required)
              .form__group
                button.btn.btn--green.but Submit

    //- footer.footer
    //-   .footer__about
    //-     img.footer__logo(src="/img/webh.png", alt="Logo", srcset="")
    //-     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nisi veritatis modi, facere quos repudiandae distinctio debitis minus adipisci dolor hic eum autem tempora doloremque ratione totam, incidunt omnis error!
    //-   ul.footer__nav.footer__about 
    //-     .heading__ul Services
    //-     li.footer_item
    //-       a.footer_link(href="home") HOME
    //-     li.footer_item
    //-       a.footer_link(href="about") ABOUT
    //-     li.footer_item
    //-       a.footer_link(href="services") OUR SERVICES
    //-     li.footer_item
    //-       a.footer_link(href="contact") CONTACT
    //-   ul.footer__nav.footer__about
    //-     .heading__ul Contact Info
    //-     li.footer_item
    //-       i.fa-solid.fa-location-dot
    //-       a.footer_link(href="home") Address
    //-     li.footer_item
    //-       i.fa-solid.fa-phone
    //-       a.footer_link(href="about") Phone
    //-     li.footer_item
    //-       i.fa-solid.fa-envelope
    //-       a.footer_link(href="services") OUR SERVICES
    //-     li.footer_item
    //-       i.fa.fa-globe
    //-       a.footer_link(href="contact") CONTACT
    //- .copy-right__footer 
    //-   p.copy-right &copy; 2024 Web Hustler - All Rights Reserved 
    //-   .social-media
    //-     i.fa-brands.fa-linkedin
    //-     i.fa-brands.fa-facebook
    //-     i.fa-brands.fa-twitter
    //-     i.fa-brands.fa-instagram
