extends base

block content
  main.service__main 
    .service__heading= `${data.name}`
  section.content__section 
    p.content Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae dolore fugiat odio veniam necessitatibus error sequi nihil libero accusantium laudantium fugit corporis omnis laboriosam vero in numquam quibusdam, doloremque rem.
    p.content Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab non labore, cumque odit tempora ad necessitatibus illo ipsam odio impedit harum perferendis commodi eveniet doloribus sunt vel error, temporibus vitae.
  section.service__img 
    img.img-fluid.service-img(src="/img/web15.jpg", alt="", style ="max-width:100%;height:auto;")
    //- img.img-fluid.service-img(src="/img/web15.jpg", alt="", srcset="")
