:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --footer: linear-gradient(to top left, rgb(137, 188, 239), #5da6e1);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  color: #777;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;

  /* color: #444; */
  color: #777;
  line-height: 1.9;
  background-color: #f3f3f3;
}

/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  height: 7rem;
  margin-right: 35%;
  /* width: 80px; */
  transition: all 0.3s;
}
.nav__logo:hover {
  cursor: pointer;
}

.nav__logo__dashboard {
  height: 7rem;
  margin-right: 30%;
  transition: all 0.3s;
}
.nav__logo__dashboard:hover {
  cursor: pointer;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: bold;
  color: #777;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}
.nav__link:hover {
  border-bottom: 2px solid #777;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}

.about_click,
.services_click {
  font-size: 1.7rem;
  font-weight: bold;
  color: #777;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}
.about_click:hover,
.services_click:hover {
  cursor: pointer;
}

/* home text */

.home {
  position: relative;
}
.home__img {
  display: block;
}
.home__text {
  position: absolute;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
  /* padding-top: 50%; */
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.options a {
  padding: 8px 8px 8px 15px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.contact_anchor,
.closebtn {
  padding: 8px 8px 8px 30px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.services__li {
  font-size: 20px;
  display: block;
  /* width: 100px; */
  padding-left: 30px;
}
.sidenav select {
  padding: 8px 8px 8px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  background-color: #111;
  transition: 0.3s;
}

.options a:hover {
  color: #f1f1f1;
  list-style: none;
  text-decoration: none;
}
.contact_anchor:hover,
.closebtn:hover {
  color: #f1f1f1;
  list-style: none;
  text-decoration: none;
}
.services__name:hover {
  color: #f1f1f1;
}
.services__li__item:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.dashboard__content {
  display: flex;
  flex-wrap: wrap;
}
/* user icon */
.user-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 30px;
  margin-left: 30%;
  color: #818181;
}
.user-icon i {
  padding-top: 7px;
}
.user-icon:hover {
  cursor: pointer;
}
.name-user {
  margin-left: 37%;
}
.user-name {
  font-size: 24px;
  margin-left: 10px;
  color: #818181;
  text-transform: capitalize;
}
.user-name:link,
.user-name:visited {
  text-decoration: none;
}
.login-icon i {
  padding-top: 1.5px;
}
.user-text,
.service-text,
.contact-text {
  padding-left: 10px;
  text-transform: capitalize;
}
.btn--blue {
  height: 28px;
  width: 70px;
  color: #fff;
  font-size: 14px;
  background-color: #5eb7c5;
  border: 2px solid #5eb7c5;
  border-radius: 5px;
  margin-top: -4px;
  margin-bottom: 5px;
}
.btn--blue:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

/* service btn */
.addServiceBtn {
  display: none;
  margin-left: 80%;
  margin-top: -10%;
}
.createAccBtn {
  /* opacity: 0; */
  margin-left: 80%;
  margin-top: -14%;
}
/* dashboard heading */
.dash-content {
  display: flex;
  flex-wrap: wrap;
}
.column-span {
  width: 25%;
  margin-top: 10px;
}

.name-span-head {
  font-size: 22px;
  font-weight: 400;
}

/* .service-text {
  opacity: 0;
} */

/* admin tool  */
.login-first {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tools {
  display: flex;
  flex-wrap: wrap;
}

.heading-span {
  margin-top: -4rem;
}

.admin-tool {
  height: 500px;
  width: 250px;
  left: 0;
  background-color: #ffffff80;
  transition: 0.5s;
  padding-left: 20px;
  padding-right: 20px;
}
.tools i {
  margin-left: 10px;
  margin-top: 20px;
  font-size: 18px;
  top: 50%;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.tools h5 {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.admin-tool .tools:hover {
  cursor: pointer;
  background-color: #81818138;
}

@media only screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .options a {
    font-size: 16px;
  }
  .services__name {
    font-size: 18px;
  }
  .services__li__item {
    font-size: 16px;
  }

  /* .nav__links {
      width: 0;
      position: fixed;
      overflow-x: hidden;
    }
    .slide_nav_bar {
      width: 100;
    }
    .nav__links {
      opacity: 0;
    } */
}
.footer__about {
  width: 100%;
  float: left;
  margin-top: 20px;
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}
.heading__ul {
  font-size: 20px;
  font-weight: bold;
}
@media only screen and (min-width: 1080px) {
  .nav {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.16);
  }
  .nav.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .slide_nav_bar {
    opacity: 0;
    overflow-x: hidden;
    height: 100%;
    overflow-x: hidden;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    padding-top: 60px;
  }
  .copy-right__footer {
    border-top: 2px solid #6a6565;
    border-width: 80%;
    width: 100%;
    background-color: #abc;
    /* background-image: var(--footer); */
    display: flex;
    flex-wrap: wrap;
    height: 6rem;
    padding-left: 6em;
    padding-top: 2rem;
  }
  .copy-right {
    font-size: 16px;
    font-weight: 600;
    margin-right: 40%;
  }
  .social-media {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
  }
  .footer_item i {
    margin-right: 1em;
  }
  .fa-brands {
    margin-left: 2em;
  }
  .fa-brands:hover {
    cursor: pointer;
  }
  .footer__about {
    width: 28%;
    float: left;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
  }
  .home__text {
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
    /* padding-top: 50%; */
    color: white;
    font-size: 40px;
    padding: 20px;
    text-align: center;
  }

  .header {
    padding: 0 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/web12.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
  }
  /* .header__title {
      flex: 1;
  
      max-width: 115rem;
      display: grid;
      grid-template-columns: 3fr 2fr;
      row-gap: 3rem;
      align-content: center;
      justify-content: center;
  
      align-items: start;
      justify-items: start;
    } */
  .section__title {
    max-width: 80rem;
    margin: 0 auto 8rem auto;
  }
  .feature-box p {
    text-align: left;
    justify-content: left;
  }
  /* services_url */
  .feature-box ul {
    padding-left: 20px;
  }
  .feature-box li {
    /* color: #ee9b11; */
    font-size: 16px;
    color: #39b385;
  }
  .feature-box a {
    display: flex;
    flex-wrap: wrap;
    color: #39b385;
    /* color: #ee9b11; */
    justify-content: left;
  }
  .feature-box a:hover {
    /* color: #ee8e11; */
    color: #43a07c;
    justify-content: left;
  }
}

@media only screen and (max-width: 1080px) {
  .nav__links {
    width: 0;
    position: fixed;
    overflow-x: hidden;
    opacity: 0;
  }
  .copy-right__footer {
    border-top: 2px solid #6a6565;
    width: 100%;
    background-color: #abc;
    display: flex;
    flex-wrap: wrap;
    height: 9rem;
    padding-left: 4.5em;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .copy-right {
    font-size: 16px;
    font-weight: 600;
  }
  .social-media {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
  }
  .footer_item i {
    margin-right: 1em;
  }
  .fa-brands {
    margin-left: 2em;
  }
  .fa-brands:hover {
    cursor: pointer;
  }
  .nav {
    height: 7rem;
  }
  .nav__logo {
    height: 50px;
    margin-left: 7%;
    /* margin-right: 40%; */
  }
  .slide_nav_bar {
    margin-left: 20%;
  }
  /* .header__title {
      flex: 1;
  
      max-width: 115rem;
      display: flex;
      grid-template-columns: 3fr 2fr;
      row-gap: 3rem;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;
      align-items: start;
      justify-items: start;
    } */
  .section__title {
    /* max-width: 80rem; */
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 auto 8rem auto; */
  }
  /* services_url */
  .feature-box li {
    /* color: #ee9b11; */
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    justify-content: center;
    text-align: center;
    color: #39b385;
  }
  .feature-box a {
    color: #39b385;
    /* color: #ee9b11; */
  }
  .feature-box a:hover {
    /* color: #ee8e11; */
    color: #43a07c;
    /* justify-content: left; */
  }
}

/* FOOTER */
.p__footer,
.heading__ul,
.copy-right__footer,
.copy-right,
footer i,
.social-media i {
  color: #111;
}
.footer {
  padding: 5rem 3rem;
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  /* background-color: #37383d; */
  background-color: #abc;
}

.footer__nav {
  list-style: none;
  line-height: 30px;
  /* display: flex; */
  /* justify-content: center; */
  /* margin-bottom: 5remR; */
}

.footer__item {
  margin-right: 4rem;
  line-height: 10px;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  /* display: block; */
  margin: 0 auto;
  margin-bottom: 2rem;
}
.footer__logo:hover {
  cursor: pointer;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}
/* load icon */
.loading {
  display: block;
  flex-wrap: wrap;
  margin-top: 10%;
  padding-left: 40%;
  /* text-align: center; */
  justify-content: center;
  font-size: 30px;
  width: 100%;
}
/* .fa {
  position: absolute;
  margin-right: 20px;
  margin-top: 5px;
} */
.load-text {
  margin-left: 30px;
  padding-left: 30px;
}

/* section css */

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}
@media only screen and (max-width: 56.25em) {
  .section-about {
    padding: 20rem 0;
  }
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
@media only screen and (max-width: 56.25em) {
  .feature-box {
    padding: 2rem;
  }
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}
@media only screen and (max-width: 56.25em) {
  .feature-box__icon {
    margin-bottom: 0;
  }
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/web12.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
.section-features > * {
  transform: skewY(7deg);
}
@media only screen and (max-width: 56.25em) {
  .section-features {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}
@media only screen and (max-width: 56.25em) {
  .section-tours {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}
@media only screen and (max-width: 56.25em) {
  .section-stories {
    padding: 10rem 0;
  }
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}
@media only screen and (max-width: 56.25em) {
  .story {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .story {
    transform: skewX(0);
  }
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .story__shape {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    border-radius: none;
  }
}
@media only screen and (max-width: 37.5em) {
  .story__shape {
    transform: translateX(-3rem) skewX(0);
  }
}
.story__img {
  height: 100%;
  transform: translateX(-1rem);
  backface-visibility: hidden;
  transition: all 0.5s;
}
.story__text {
  transform: skewX(12deg);
}
@media only screen and (max-width: 37.5em) {
  .story__text {
    transform: skewX(0);
  }
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__img {
  transform: translateX(rem) scale(1);
  filter: blur(3px) brightness(80%);
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
@media only screen and (max-width: 56.25em) {
  .section-book {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50%
    ),
    url(../img/contactus.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 75em) {
  .book {
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 65%,
        transparent 65%
      ),
      url(../img/contactus.jpg);
    background-size: cover;
  }
}
@media only screen and (max-width: 56.25em) {
  .book {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 100%
      ),
      url(../img/contactus.jpg);
  }
}
.book__form {
  width: 50%;
  padding: 6rem;
}
@media only screen and (max-width: 75em) {
  .book__form {
    width: 65%;
  }
}
@media only screen and (max-width: 56.25em) {
  .book__form {
    width: 100%;
  }
}

.row-row {
  max-width: 114rem;
  margin: 0 auto;
}
.row-row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .row-row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row-row {
    max-width: 50rem;
    padding: 0 3rem;
  }
  .row__story {
    padding: 0 1rem;
  }
  /* .story {
    padding: 0 2rem;
  } */
}
.row-row::after {
  content: '';
  display: table;
  clear: both;
}
.row-row [class^='col-'] {
  float: left;
}
.row-row [class^='col-']:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .row-row [class^='col-']:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row-row [class^='col-'] {
    width: 100% !important;
  }
}
.row-row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row-row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row-row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row-row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row-row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row-row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo {
    float: left;
    position: relative;
    width: 33.33333333%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  }
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p1 {
    top: 0;
    transform: scale(1.2);
  }
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p2 {
    top: -1rem;
    transform: scale(1.3);
    z-index: 100;
  }
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
@media only screen and (max-width: 56.25em) {
  .composition__photo--p3 {
    top: 1rem;
    left: 0;
    transform: scale(1.1);
  }
}
.composition__photo:hover {
  outline: 1.5rem solid #55c57a;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-center-text {
  text-align: center !important;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

/* revealing on scroll */
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
.section {
  transition:
    transform 1s,
    opacity 1s;
}
/* service main */

@media only screen and (min-width: 450px) {
  .service__main {
    background-color: #f7f7f7;
    padding: 3rem 5rem;
  }
  .service__heading {
    font-size: 22px;
  }
  .content__section {
    padding: 4rem 5rem;
  }
  .content {
    font-size: 18px;
    margin-bottom: 35px;
    color: #333;
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .service__main {
    background-color: #f7f7f7;
    padding: 2rem 4rem;
  }
  .service__heading {
    font-size: 20px;
  }
  .content__section {
    padding: 3rem 4rem;
  }
  .content {
    font-size: 18px;
    margin-bottom: 35px;
    color: #333;
    width: 100%;
  }

  .composition {
    /* position: relative; */
    display: none;
  }
}
@media only screen and (min-width: 760px) {
  .service__main {
    background-color: #f7f7f7;
    padding: 3rem 8rem;
  }
  .service__heading {
    font-size: 22px;
  }
  .content__section {
    padding: 8rem 8rem;
    display: flex;
  }
  .content {
    font-size: 20px;
    color: #333;
    width: 50%;
    margin-right: 20px;
    /* width: calc((100% - 3 * 6rem) / 2); */
  }
  .service-img {
    display: block;
  }
}
.footer_link {
  color: #222222d2;
  text-decoration: none;
  font-weight: 600;
}
.footer_link:hover {
  color: #222;
  text-decoration: none;
  outline: 0;
}
.service__img {
  padding-bottom: 50px;
}
